<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7124589496-uskif6lmktof427pr3q4etfbu2vcntvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7124589496-uskif6lmktof427pr3q4etfbu2vcntvr</string>
	<key>API_KEY</key>
	<string>AIzaSyA3WUFHOOAzZ-fxZdq7lY7j7ME-uyTTx9c</string>
	<key>GCM_SENDER_ID</key>
	<string>7124589496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bbd0f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bbd0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7124589496:ios:a449009853db3a26a0cd4d</string>
</dict>
</plist>